@font-face {
    font-family: AvenirNextLTProBold;
    src: url('../assets/fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: AvenirNextLTProBoldCn;
    src: url('../assets/fonts/AvenirNextLTPro-BoldCn.otf');
}

@font-face {
    font-family: AvenirNextLTProBoldCnIt;
    src: url('../assets/fonts/AvenirNextLTPro-BoldCnIt.otf');
}

@font-face {
    font-family: AvenirNextLTProCn;
    src: url('../assets/fonts/AvenirNextLTPro-Cn.otf');
}
@font-face {
    font-family: AvenirNextLTProCnIt;
    src: url('../assets/fonts/AvenirNextLTPro-CnIt.otf');
}
@font-face {
    font-family: AvenirNextLTProDemi;
    src: url('../assets/fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
    font-family: AvenirNextLTProDemiCn;
    src: url('../assets/fonts/AvenirNextLTPro-DemiCn.otf');
}
@font-face {
    font-family: AvenirNextLTProDemiCnIt;
    src: url('../assets/fonts/AvenirNextLTPro-DemiCnIt.otf');
}
@font-face {
    font-family: AvenirNextLTProDemiIt;
    src: url('../assets/fonts/AvenirNextLTPro-DemiIt.otf');
}
@font-face {
    font-family: AvenirNextLTProHeavyCn;
    src: url('../assets/fonts/AvenirNextLTPro-HeavyCn.otf');
}
@font-face {
    font-family: AvenirNextLTProHeavyCnIt;
    src: url('../assets/fonts/AvenirNextLTPro-HeavyCnIt.otf');
}
@font-face {
    font-family: AvenirNextLTProIt;
    src: url('../assets/fonts/AvenirNextLTPro-It.otf');
}
@font-face {
    font-family: AvenirNextLTProMediumCn;
    src: url('../assets/fonts/AvenirNextLTPro-MediumCn.otf');
}
@font-face {
    font-family: AvenirNextLTProMediumCnIt;
    src: url('../assets/fonts/AvenirNextLTPro-MediumCnIt.otf');
}
@font-face {
    font-family: AvenirNextLTProRegular;
    src: url('../assets/fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: AvenirNextLTProUltLtCn;
    src: url('../assets/fonts/AvenirNextLTPro-UltLtCn.otf');
}
@font-face {
    font-family: AvenirNextLTProUltLtCnIt;
    src: url('../assets/fonts/AvenirNextLTPro-UltLtCnIt.otf');
}